/* Importing a Google Font */

@import url(https://fonts.google.com/specimen/Road+Rage?preview.text=Bobby%20Jones&preview.size=90&categoryFilters=Feeling:%2FExpressive%2FPlayful&query=Ru);

/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
	background-color: #f5f6f6;
}

/* Changing the background colour for the header */

header {
	background-color: #000060;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #272727;
}

.footer {
	background-color: #595959
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

/* Hero Section shadow */

.white-shadow {
	text-shadow: -.01em -.01em .01em white,
		.02em .02em .02em white,
		0 0 .2em white,
		0 0 .5em white;
}
.rubik-dirt-regular { 

  font-family: "Rubik Dirt", system-ui; 

  font-weight: 400; 

  font-style: normal; 

} 

.card-title {
	  font-family: "Rubik Dirt", system-ui; 

  font-weight: 400; 

  font-style: normal; 
}


/* Fonts, colors and corrections for spacing yeah */

.card-title {
	  font-family: "Rubik Dirt", system-ui; 

  font-weight: 400; 

  font-style: normal; 
}

.navcolor {
  font-family: "Rubik Dirt", system-ui; 
  font-size: 17px;
  font-weight: 400; 
  text-decoration: none;
  font-style: normal;
  color: #B21F24;
  margin-right: 10px;
}
	
.logo {
  width: 130px; 
  height: px; 
	margin-left: -35px;
}


.logoalignmenthome {

  position: relative;
  z-index: 1100;  
  width: 100%; 
  max-width: 200px;
  height: auto; 
  display: block;
  margin: 0 auto;
}



.boldtext {
	font-family: "Rubik Dirt", system-ui; 
  font-size: 30px;
  font-weight: 400; 
  text-decoration: none;
  font-style: normal;
  color: #000000;
	
	
}

.togglercolor {
	
	color: #B21F24;
		
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23B21F24' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar {
  position: relative;
  z-index: 1000; 
}


.main {
  text-align: center;
  padding: 20px;
}

.body {
  padding-top: 0px;
}

.contactphotosmall{

	max-width: 2000px;
  height: 400px; 
  object-fit: cover; 
  object-position: top;
  overflow: hidden;
}

.subtitle-text {
    font-family: "Rubik Dirt", system-ui;
    font-size: x-large;
    text-align: center;
}

.align-items-center {
    text-align: center;	
}
